form action="/bodymaker" method="post"
    input type="text" name="height" placeholder="height"
    input type="text" name="weight" placeholder="weight"
    input type="submit" value="Submit measurements"

